* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
.container {
    /* display: flex; */
    margin: 0 auto;
    width: 70%;
    height: 100vh;
    text-align: center;
}

h1 {
    padding: 20px;
    font-size: 2.5em;
}

.slider-wrapper {
    position: relative;
    margin: auto;
    width: 100%;
    height: 80%;
    padding-bottom: 20px;
}
.slider-wrapper .images  {
    height: 100%;
    text-align: center;
}
.slider-wrapper .images  img {
    display: none;
    height: 100%;
}
.slider-wrapper .images  img.active {
    display: inline-block;
}

img {
  background-color: lightblue;
  padding: 15px;
}

.prev, .next {
    position: absolute;
    color: grey;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    cursor: pointer;
    padding: 2px 15px;
    border: 1px solid darkgrey;
    border-radius: 34%;
    background: lightblue;
}
.next {
    left: auto;
    right: -5%;
}

.prev {
  left: -5%;
}
.nav {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 999px;
    background: lightblue;
    color: grey;
    border: 1px solid darkgrey;
}
.nav > i {
    margin: 0 20px;
}
.nav > i.active {
    color: darkgrey;
}

.nav > i:last-child {
  position: absolute;
  right: -22%;
  top: 27%;
  text-align: left;
  font-size: 23px;
  color: darkgrey;
}

.nav > i:last-child:hover .info {
  display: block;
}

.info {
  position: absolute;
  bottom: -11%;
  right: 10%;
  border: 1px solid black;
  padding: 6px;
  display: none;
}
